*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url(../fonts/CeraPro-Regular.eot) format(eot), url(../fonts/CeraPro-Regular.ttf), format(TrueType) url(../fonts/CeraPro-Regular.woff) format(woff); 
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium' ;
    src: url(../fonts/CeraPro-Medium.eot) format(eot), url(../fonts/CeraPro-Medium.ttf) format(TrueType), url(../fonts/CeraPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold' ;
    src: url(../fonts/CeraPro-Bold.eot) format(eot), url(../fonts/CeraPro-Bold.ttf) format(TrueType), url(../fonts/CeraPro-Bold.woff) format(woff); 
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(../fonts/CeraProBlack.eot) format(eot), url(../fonts/CeraProBlack.ttf) format(TrueType), url(../fonts/CeraProBlack.woff) format(woff);
    font-weight: 900;
}

@font-face {
    font-family: 'Encode Regular';
    src: url(../fonts/EncodeSansExpanded-Regular.eot) format(eot), url(../fonts/EncodeSansExpanded-Regular.ttf) format(TrueType), url(../fonts/EncodeSansExpanded-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Encode Bold';
    src: url(../fonts/EncodeSansExpanded-Bold.eot) format(eot), url(../fonts/EncodeSansExpanded-Bold.ttf) format(TrueType), url(../fonts/EncodeSansExpanded-Bold.woff) format(woff);
    font-weight: 700;
}
@font-face {
    font-family:'Hanging Letters'; 
    src: url(../fonts/Hanging\ Letters.eot) format(eot), url(../fonts/Hanging\ Letters.ttf) format(TrueType), url(../fonts/Hanging\ Letters.woff) format(woff); 
    font-weight: 400;
}


.big-container {
    display: flex;
    margin-top: 91px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 22px;
    align-items: center; 
    align-content: flex-start;
    flex-direction: column;
}


.header {
background-color: #FBFBFB;
display: flex;
}

.flex-paint {
    margin-top: 24px;
    margin-left: 25px;
    column-gap: 61px;
    margin-right: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}



.circle-first {
    margin-top: 21.1px;
    position: absolute;
}

.top-first {
    position: absolute;
    margin-left: 16px;
}

.bottom-1 {
    position: absolute;
    margin-top: 45.22px;
    margin-left: 19px;
}

.care {
    margin-top: 110.55px;
    margin-bottom: 9.04px;
    font-size: 17px;
    line-height: 16px;
    font-family: 'Cera Pro Bold';
}

.description-1 {
   color: #727272;
   font-size: 14px;
   line-height: 22px;
   font-family: 'Cera Pro Regular';
}

.second-line {
    display: block;
}

.third-line {
    display: block;
}

.fourth-line {
    display: block;
}

.circle-second {
    margin-top: 16.5px;
    position: absolute;
}

.top-second {
    margin-left: 31px;
    position: absolute;
}

.bottom-2 {
    position: absolute;
    margin-left: 15px;
    margin-top: 39.16px;
    margin-bottom: 3.09px;
}

.renovation {
    margin-top: 116.75px;
    margin-bottom: 9.28px;
    font-size: 17px;
    line-height: 16px;
    font-family: 'Cera Pro Bold';
}

.description-2 {
    color: #727272;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Cera Pro Regular';
    margin-bottom: 24px;
}


.circle-third {
    margin-top: 15.54px;
    position: absolute;
}

.top-third {
    margin-left: 31px;
    position: absolute;
}

.bottom-3 {
    position: absolute;
    margin-left: 7px;
    margin-top: 46.62px;
    margin-bottom: 4.14px;
}

.watering {
    margin-top: 116.75px;
    margin-bottom: 9.32px;
    font-size: 17px;
    line-height: 16px;
    font-family: 'Cera Pro Bold';
}

.description-3 {
    color: #727272;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Cera Pro Regular';
    margin-bottom: 24px;
}

.join {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 13px;
    margin-right: 56px;
    margin-bottom: 25px;
}

.email {
border-radius: 6px;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
padding-top: 12px;
padding-left: 11px;
padding-right: 86px;
padding-bottom: 12px;
border: none;
color: #ACACAC;
font-size: 14px;
line-height: 16px;
}

.join-button {
border-radius: 0px 6px 6px 0px;
background-color: #46A358;
color: #FFF;
font-size: 18px;
line-height: 16px;
font-family: 'Cera Pro Bold';
padding-top: 12px;
padding-left: 26px;
padding-right: 25px;
padding-bottom: 12px;
border: none;
}

.description-4 {
   color: #727272;
   font-family: 'Cera Pro Regular';
   font-size: 13px;
   line-height: 22px;
   margin-top: 25px;
}

.separator {
    position: absolute;
    left: 122px;
    padding-left: 187px;
    padding-bottom: 1px;
    transform: rotate(-90deg);
    bottom: 120px;
    background: rgba(70, 163, 88, 0.10);
    margin: 0 10px;
}

.separator2 {
    position: absolute;
    left: 388px;
    padding-left: 187px;
    padding-bottom: 1px;
    transform: rotate(-90deg);
    bottom: 120px;
    background: rgba(70, 163, 88, 0.10);
    margin: 0 10px;
}

.middle {
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
margin-top: 27px;
margin-left: 23px;
margin-bottom: 26.7px;
margin-right: 155px;
}

.location {
    background: url(./pictures/Location.png);
    width: 14px;
    height: 18px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.ny{
    margin-top: 25px;
    margin-left: 9px;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 22px; 
    font-family: 'Cera Pro Regular';
}

.message {
    background: url(./pictures/Message.png);
    width: 18px;
    height: 18px;
    margin-top: 34px;
    margin-left: 155px;
    margin-bottom: 34px;
}

.contact {
    margin-top: 32px;
    margin-left: 10px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Cera Pro Regular';
}

.phone {
    background: url(./pictures/Calling.png);
    width: 20px;
    height: 20px;
    margin-top: 34px;
    margin-left: 155px;
    margin-bottom: 34px;
}

.number {
    margin-top: 32px;
    margin-left: 8px;
    margin-bottom: 33px;
    margin-right: 23px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Cera Pro Regular';
}


.first-buttom {
    background: #FBFBFB;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.account {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 33px;
    margin-left: 25px;
}

.list-account {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    line-height: 30px;
    margin-top: 8px;
    margin-bottom: 27px;
}


.help {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 33px;
    margin-left: 164px;
}

.list-help {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    line-height: 30px;
    margin-top: 8px;
    margin-bottom: 27px;
}

.categories {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 33px;
    margin-left: 154px;
}

.list-categories {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    line-height: 30px;
    margin-top: 8px;
    margin-bottom: 27px;
}

.media {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 33px;
    margin-left: 173px;
    padding-right: 122px;
}

.social-icons{
    display: flex;
    margin-top: 20px;
    gap: 10px;

}

.accept {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    line-height: 16px;
    margin-top: 33px;
}

.pay {
    background: url(./pictures/image\ 16.png);
    mix-blend-mode: multiply;
    margin-top: 13px;
    width: 224px;
    height: 26px;
}

.second-buttom {
display: flex;
justify-content: space-around;
}

.rights {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;

    
}