*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cera Pro Light';
    src: url(../fonts/CeraProLight.eot) format(eot), url(../fonts/CeraProLight.ttf) format(TrueType), url(../fonts/CeraProLight.woff) format(woff);
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url(../fonts/CeraPro-Regular.eot) format(eot), url(../fonts/CeraPro-Regular.ttf), format(TrueType) url(../fonts/CeraPro-Regular.woff) format(woff); 
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium' ;
    src: url(../fonts/CeraPro-Medium.eot) format(eot), url(../fonts/CeraPro-Medium.ttf) format(TrueType), url(../fonts/CeraPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold' ;
    src: url(../fonts/CeraPro-Bold.eot) format(eot), url(../fonts/CeraPro-Bold.ttf) format(TrueType), url(../fonts/CeraPro-Bold.woff) format(woff); 
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(../fonts/CeraProBlack.eot) format(eot), url(../fonts/CeraProBlack.ttf) format(TrueType), url(../fonts/CeraProBlack.woff) format(woff);
    font-weight: 900;
}

@font-face {
    font-family:'Hanging Letters'; 
    src: url(../fonts/Hanging\ Letters.eot) format(eot), url(../fonts/Hanging\ Letters.ttf) format(TrueType), url(../fonts/Hanging\ Letters.woff) format(woff); 
    font-weight: 400;
}


.row-container {
max-width: 1440px;
max-height: 1622px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.left-side {
    width: 445px;
}

.flex-item{
    width: 310px;
    height: 774px;
    background-color:#FBFBFB;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #3D3D3D;
    margin-top: 171px;
    margin-left: 135px;
}

.categories {
    font-family: 'Cera Pro Bold', sans-serif;;
    color: #3D3D3D;
    font-size: 18px;
    margin-top: 14px;
    margin-left: 18px;
    margin-right: 199px;
    margin-bottom: 7px;
}

.content {
    font-family:'Cera Pro Regular', sans-serif;
    color:#3D3D3D;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 189px;
    line-height: 40px;

}

.green_plants {
    font-family: 'Cera Pro Bold', sans-serif;
    color: #46A358;
}


.flex-item2{
    width: 310px;
    height: 501px;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 135px;
    margin-right: 50px;
    margin-bottom: 207px;
    position: relative;
}


.super{
    font-family: 'Hanging Letters', sans-serif;
    color: #46A358;
    font-size: 65px;
    margin-top: 18px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 11px;
}

.off{
    font-family:'Cera Pro Bold', sans-serif;
    color: #3D3D3D;
    font-size: 23px;
    margin-top: 11px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 5px;
}


.flex-item-planty {
background: url(./pictures/planty.png) lightgray 50% / cover no-repeat;
mix-blend-mode: multiply;
width: 365px;
height: 365px;
}


.small-circle {
width: 15px;
height: 15px;
border-radius: 29px;
background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
position: absolute; 
left: 38px;
}

.small-square {
position: absolute;
width: 22px;
height: 22px;
border-radius: 7px;
border: 2px solid #46A358;
opacity: 0.2;
top: 329px;
left: 16px;
}

.big-circle {
position: absolute;
width: 45px;
height: 45px;
border-radius: 29px;
background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
right: 17px;
bottom: 82px;
}


.list {
    width: 838px;
    height: 23px;
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;         
    margin-top: 181px;
    margin-left: 50px;
    margin-right: 109px;
    margin-bottom: 12px;
}

.list-item{
    display: inline-block;
    color: #3D3D3D;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 15px;
    line-height: 16px; 
}

.list-item.active{
    font-family: 'Cera Pro Bold', sans-serif;
    color: #46A358;
    margin-right: 37px;
    border-bottom: 2px solid #46A358;
}

.list-item.new {
margin-right: 40px;
}

.list-item.sale {
    margin-right: 385px;
}

.list-item.short {
    margin-right: 7px;
    display: flex;
}

.list-item.pictures {
padding: 0px 3.333px;
}



  .big-flex {
    width: 840px;
    height: 1227px;
    margin-top: 38px;
    margin-left: 50px;
    margin-right: 109px;
    margin-bottom: 207px;
}

.flex-flowers {
    display: flex;
    column-gap: 33px;
    row-gap: 70px;
    flex-wrap: wrap;
}

.demo1 {
    background-color: #FBFBFB;
}

.flex-flo-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    mix-blend-mode: multiply;
    }



.first-pic {
    margin-top: 31px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 19px;
    mix-blend-mode: multiply;
    display: block;
    }


.daisy {
   font-family: 'Cera Pro Regular';
   color: #3D3D3D;
   font-size: 16px;
   color: #3D3D3D;
   line-height: 16px;
   margin-top: 12px;
   margin-bottom: 6px;
   display: flex;
}

.first-price {
    font-family: 'Cera Pro Bold';
    color: #46A358;
    font-size: 18px;
    line-height: 16px;
    margin-top: 6px;
}


    
    .flex-flo-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

    .second-pic {
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 25px;
    mix-blend-mode: multiply;
    display: block;
    }

    .begonia {
        font-family: 'Cera Pro Regular';
        color: #3D3D3D;
        font-size: 16px;
        color: #3D3D3D;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 6px;
     }

     .second-price {
        font-family: 'Cera Pro Bold';
        color: #46A358;
        font-size: 18px;
        line-height: 16px;
        margin-top: 6px;
    }



    
    .flex-flo-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .third-pic {
            margin-top: 24px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 26px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .violet {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .third-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }
    
    .flex-flo-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .four-pic {
            margin-top: 6px;
            margin-left: 21px;
            margin-right: 13px;
            margin-bottom: 8px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .lily {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .four-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }


       
    .flex-flo-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .five-pic {
            margin-top: 23px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 27px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .brom {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .five-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }


    
    .flex-flo-6 {
        width: 258px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .six-pic {
            margin-top: 23px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 27px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .aluminum {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .six-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }




    
    .flex-flo-7 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .seven-pic {
            margin-top: 18px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 32px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .fern {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .seven-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }


    .flex-flo-8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .eight-pic {
            margin-top: 28px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 22px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .palm {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .eight-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }



    
    .flex-flo-9 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .nine-pic {
            margin-top: 19px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 31px;
            display: block;
            mix-blend-mode: multiply;
            }
        
            .evergreen {
                font-family: 'Cera Pro Regular';
                color: #3D3D3D;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 6px;
             }
        
             .nine-price {
                font-family: 'Cera Pro Bold';
                color: #46A358;
                font-size: 18px;
                line-height: 16px;
                margin-top: 6px;
            }

            .next {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 215px;
                height: 35px;
                margin-top: 90px;
                margin-left: 620px;
                margin-right: 109px;
                margin-bottom: 82px;
            }

          
            .button-next {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border-radius: 4px;
                border: 1px solid #E5E5E5;
                background: #FFFFFF;
                font-family: 'Cera Pro Light' , sans-serif;
                font-size: 18px;
                color: #3D3D3D;
                line-height: 16px;
            }

            .button-next-active {
                font-family:'Cera Pro Bold';
                background: #46A358;
                color: #FFF;
                width: 35px;
                height: 35px;
                border: none;
                font-size: 18px;
            }

            .button-next-arrow {
                display: flex;
                padding: 3.75px 0px;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border-radius: 4px;
                border: 1px solid #E5E5E5;
                background: #FFF;

            }




