@font-face {
    font-family: 'Cera Pro Regular';
    src: url(../fonts/CeraPro-Regular.eot) format(eot), url(../fonts/CeraPro-Regular.ttf), format(TrueType) url(../fonts/CeraPro-Regular.woff) format(woff); 
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium' ;
    src: url(../fonts/CeraPro-Medium.eot) format(eot), url(../fonts/CeraPro-Medium.ttf) format(TrueType), url(../fonts/CeraPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold' ;
    src: url(../fonts/CeraPro-Bold.eot) format(eot), url(../fonts/CeraPro-Bold.ttf) format(TrueType), url(../fonts/CeraPro-Bold.woff) format(woff); 
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(../fonts/CeraProBlack.eot) format(eot), url(../fonts/CeraProBlack.ttf) format(TrueType), url(../fonts/CeraProBlack.woff) format(woff);
    font-weight: 900;
}

@font-face {
    font-family: 'Encode Regular';
    src: url(../fonts/EncodeSansExpanded-Regular.eot) format(eot), url(../fonts/EncodeSansExpanded-Regular.ttf) format(TrueType), url(../fonts/EncodeSansExpanded-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Encode Bold';
    src: url(../fonts/EncodeSansExpanded-Bold.eot) format(eot), url(../fonts/EncodeSansExpanded-Bold.ttf) format(TrueType), url(../fonts/EncodeSansExpanded-Bold.woff) format(woff);
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 12px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-item{
    display: inline-block;
    padding: 8px 25px 7px;
    font-family: 'Cera Pro Regular', sans-serif;
    color: #3D3D3D;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    position: relative;
  }

  .list-item:hover {
    border-bottom-color: #46A358;
    color: #2B2B2B;
    font-family: 'Cera Pro Bold', sans-serif; 
  }

  .sub-list {
    list-style: none;
    position: absolute;
    font-family: 'Encode Regular';
    display: none;
    left: 1px;
}

.list-item:hover .sub-list {
    display: block;
}


.sub-list-item-a:hover,
.sub-list-item-b:hover,
.sub-list-item-c:hover,
.sub-list-item-d:hover {
  background-color: #46A358;
  color: #FFF;
  font-family: 'Encode Bold';
}


.sub-list-item-a {
    margin-top: 24px;
    background-color: #EDF6EE;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 102px;
    padding-bottom: 8px;
    position: relative;
}

.sub-list-item-b {
    background-color: #EDF6EE;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 88px;
    padding-bottom: 8px;
    position: relative;
}

.sub-list-item-c {
    background-color: #EDF6EE;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 104px;
    padding-bottom: 8px;
    position: relative;
}

.sub-list-item-d {
    background-color: #EDF6EE;
    padding-top: 7px;
    padding-left: 14px;
    padding-bottom: 8px;
    display: flex;
    padding-right: 30px; 
}

.first {
    display: inline-block;
    margin-left: 88.967px;
    margin-top: 7px;
}

.arrow-second {
    display: none;     
    position: absolute;
    margin-left: 152.97px;
    margin-top: 7px ;
    margin-right: 17.03px;
  }



    .sub-list-item-d:hover .first {
        display: none;        
      }

      .sub-list-item-d:hover .arrow-second {
        display: inline-block; 
      }


.second-sub-list {
    list-style: none;
    display: none;
    position: absolute;
    font-family: 'Encode Regular';
    color: #3D3D3D;
    font-size: 16px;
    top: 23px;
    left: 102%;  
    z-index: 999;

}

.second-sub-item-a {
padding-top: 7px;
padding-left: 14px;
padding-right: 89px;
padding-bottom: 8px;
background-color: #EDF6EE;
}

.second-sub-item-b {
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 91px;
    padding-bottom: 8px;
    background-color: #EDF6EE;
    }

    .second-sub-item-c {
        padding-top: 7px;
        padding-left: 14px;
        padding-right: 91px;
        padding-bottom: 8px;
        background-color: #EDF6EE;
        }

        .second-sub-item-d {
            position: relative;
            padding-top: 7px;
            padding-left: 14px;
            padding-right: 14px;
            padding-bottom: 8px;
            background-color: #EDF6EE;
            }

            .second-sub-item-e {
                padding-top: 7px;
                padding-left: 14px;
                padding-right: 14px;
                padding-bottom: 8px;
                background-color: #EDF6EE;
                }


                .second-sub-item-f {
                    padding-top: 7px;
                    padding-left: 14px;
                    padding-right: 14px;
                    padding-bottom: 8px;
                    background-color: #EDF6EE;
                    }

                    .sub-list-item-d:hover .second-sub-list {
                        display: block;
                      }


nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .login_button{
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #fff;
    border-radius: 6px;
    background-color:#46A358;
    border: none
    ;
    font-family: 'Cera Pro Medium', sans-serif;
    cursor: pointer;
    
  }


.left-content {
    display: inline-block; 
    vertical-align: top; 
}

  .welcome{
    padding-top: 80px;
    padding-left: 43px;
    margin-bottom: 7px;
    font-family: 'Cera Pro Medium', sans-serif;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}




.green_planet {
    color: #46A358;
    margin-left: 20px;
}


.shop_now {
margin-left: 41px;
margin-bottom: 85px;
border-radius: 6px;
background-color: #46A358;
font-family: 'Cera Pro Bold', sans-serif;
color: #FFF;
line-height: 20px; 
text-transform: uppercase;
padding-top: 11px;
padding-left: 26px;
padding-right: 27px;
padding-bottom: 9px;
cursor: pointer;
border: none;
}

.right-content {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.big {
    width: 507px;
    height: auto;
    flex-shrink: 0;
}

.small {
    width: 135px;
    height: auto;
    position: absolute;
    bottom: 33px;
    left: 60px;
}

.big-content {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 52px;
    background-color: #F5F5F580;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    padding-left: 10px;
}

.second {
    display: flex;

}

.planet {
    margin-top: 7px;
    margin-left: 40px;
    margin-bottom: 5px;
    font-family: 'Cera Pro Black', sans-serif;
    color: #3D3D3D;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}

.online {
    margin-left: 46px;
    margin-bottom: 44px;
    font-family: 'Cera Pro Regular', sans-serif;
    color:#727272;
    font-size: 14px;
    line-height: 24px;
}


