@font-face {
    font-family: 'Cera Pro Regular';
    src: url(../fonts/CeraPro-Regular.eot) format(eot), url(../fonts/CeraPro-Regular.ttf), format(TrueType) url(../fonts/CeraPro-Regular.woff) format(woff); 
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium' ;
    src: url(../fonts/CeraPro-Medium.eot) format(eot), url(../fonts/CeraPro-Medium.ttf) format(TrueType), url(../fonts/CeraPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold' ;
    src: url(../fonts/CeraPro-Bold.eot) format(eot), url(../fonts/CeraPro-Bold.ttf) format(TrueType), url(../fonts/CeraPro-Bold.woff) format(woff); 
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(../fonts/CeraProBlack.eot) format(eot), url(../fonts/CeraProBlack.ttf) format(TrueType), url(../fonts/CeraProBlack.woff) format(woff);
    font-weight: 900;
}


h3 {
    width: 157px;
    height: 16px;
    top: 52px;
    left: 172px;
    font-family: 'Cera Pro Medium';
    color: #3D3D3D;
    font-size: 20px;
    line-height: 16px; /* 80% */
    padding-top: 52px;
    padding-left: 172px;
    padding-right: 276px;
    margin-bottom: 40px;
}
.green_register {
    color:#46A358;
}

p {
  width: 300px ;
  height: 16px;
  top: 108px;
  left: 100px;
  font-family: 'Cera Pro Regular';
  color: #3D3D3D;
  font-size: 13px ;
  line-height: 16px; /* 123.077% */
  margin-top: 40px;
  padding-left: 100px;
  padding-right: 145px;
  margin-bottom: 14px;
}


.username {
width: 300px;
height: 40px;
top: 138px;
left: 100px;
margin-top: 14px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 16px;
}

.email_adress {
width: 300px;
height: 40px;
top: 138px;
left: 100px;
margin-top: 16px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 16px;
}

.input_password {
width: 300px;
height: 40px;
top: 138px;
left: 100px; 
margin-top: 16px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 16px;  
}

.confirm_password {
width: 300px;
height: 40px;
top: 138px;
left: 100px;  
margin-top: 16px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 41px;
}

.green {
background-color: forestgreen;
color: aliceblue;
font-size: 18px;
width: 300px;
height: 45px;
top: 387px;
left: 100px;
border: none;
margin-top: 41px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 36px;

}

.with {
color: #3D3D3D;
font-family: 'Cera Pro Regular';
font-size: 13px;
color: #3D3D3D;
font-family: "Cera Pro";
font-size: 13px;
line-height: 16px; /* 123.077% */
margin-top: 36px;
margin-left: 100px;
margin-right: 202px;
margin-bottom: 27px;
}

.google {
border-radius: 5px;
background-color:#EAEAEA;
font-size: 16px;
width: 300px;
height: 45px;
top: 387px;
left: 100px;
border: 1px solid #EAEAEA;
margin-top: 27px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 15px;
font-family: 'Cera Pro Medium';
color: #727272;
font-size: 13px;
line-height: 16px; /* 123.077% */
}

.facebook {
border-radius: 5px;
background-color:#EAEAEA;
font-size: 16px;
width: 300px;
height: 45px;
top: 387px;
left: 100px;
border: 1px solid #EAEAEA;
margin-top: 15px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 40px;
font-family: 'Cera Pro Medium';
color: #727272;
font-size: 13px;
line-height: 16px; /* 123.077% */
}