*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cera Pro Light';
    src: url(../fonts/CeraProLight.eot) format(eot), url(../fonts/CeraProLight.ttf) format(TrueType), url(../fonts/CeraProLight.woff) format(woff);
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url(../fonts/CeraPro-Regular.eot) format(eot), url(../fonts/CeraPro-Regular.ttf), format(TrueType) url(../fonts/CeraPro-Regular.woff) format(woff); 
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium' ;
    src: url(../fonts/CeraPro-Medium.eot) format(eot), url(../fonts/CeraPro-Medium.ttf) format(TrueType), url(../fonts/CeraPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold' ;
    src: url(../fonts/CeraPro-Bold.eot) format(eot), url(../fonts/CeraPro-Bold.ttf) format(TrueType), url(../fonts/CeraPro-Bold.woff) format(woff); 
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(../fonts/CeraProBlack.eot) format(eot), url(../fonts/CeraProBlack.ttf) format(TrueType), url(../fonts/CeraProBlack.woff) format(woff);
    font-weight: 900;
}

@font-face {
    font-family:'Hanging Letters'; 
    src: url(../fonts/Hanging\ Letters.eot) format(eot), url(../fonts/Hanging\ Letters.ttf) format(TrueType), url(../fonts/Hanging\ Letters.woff) format(woff); 
    font-weight: 400;
}


.blog {
    display: flex;
    flex-direction: column; 
    gap: 138px;
    margin: 69px 119px 68px 119px;
    justify-content: center;
    align-items: center; 
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px; 
  position: relative;
  margin-top: 52px;
  align-self: stretch;
  margin-left: 210px;
  margin-right: 210px;
}

.promo-block {
    background: #FBFBFB;
    flex-grow: 1;
}


.first-plant {
mix-blend-mode: multiply;
position: absolute;
top: -52px;
width: 287px;
height: 292px;
}

.summer {
    text-align: right;
    font-family: 'Cera Pro Black', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-right: 30px;
    margin-bottom: 9px;
}

.second-line {
    display: block;
}


.first-online {
color: #727272;
font-family: 'Cera Pro Regular', sans-serif;
text-align: right;
font-size: 14px;
line-height: 24px;
margin-left: -2px;
margin-right: 30px;
margin-bottom: 25px;
}

.find-more {
    background-color: #46A358;
    margin-left: auto;
    display: block;
    text-align: right;
    font-family: 'Cera Pro Medium', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin-right: 30px;
    margin-bottom: 46px;
    padding-top: 11px;
    padding-left: 28px;
    padding-bottom: 9px;
    border-radius: 6px;
    border: none;
}

   

.arrow-top {
    padding-left: 4px;
    padding-right: 27px;
}


.second-plant {
    mix-blend-mode: multiply;
    position: absolute;
    top: -52px;
    width: 287px;
    height: 292px;
}



.styling {
    text-align: right;
    font-family: 'Cera Pro Black', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-right: 30px;
    margin-bottom: 9px;
}

.bottom-row {
    margin-left: 139px;
    margin-right: 138px;
}

.posts {
    text-align: center;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 15px;
}

.we-are {
    color: #727272;
    text-align: center;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
}


.flex-flowers {
    margin-top: 35px; 
    column-gap: 43px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 276px);
    grid-auto-rows: auto; 
    justify-content: flex-start;
}

.flex-flo-1 {
    background: url(./pictures/01.png) lightgray 50% / cover no-repeat;
}

.flex-flo-2 {
    background: url(./pictures/02.png) lightgray 50% / cover no-repeat;
}

.flex-flo-3 {
    background: url(./pictures/03.png) lightgray 50% / cover no-repeat;
}



.flex-flo-5 {
   background-color: #FBFBFB;
}

.first-green {
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 4px;
    color:#46A358;
    font-family: 'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px
}

.first-black {
    margin-left: 15px;
    margin-right: 64px;
    margin-bottom: 4px;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.first-grey {
    margin-left: 15px;
    margin-right: 11px;
    color: #727272;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.first-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9px; 
    margin-left: 15px;
    margin-bottom: 13px;
    font-family:'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.first-arrow{
    padding-left: 3px;
}


.flex-flo-6 {
background-color: #FBFBFB;
}

.second-green {
    margin-top: 9px;
    margin-left: 13px;
    margin-right: 33px;
    margin-bottom: 4px;
    color:#46A358;
    font-family: 'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px
}

.second-black {
    margin-left: 13px;
    margin-right: 53px;
    margin-bottom: 4px;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.second-grey {
    margin-left: 13px;
    margin-right: 13px;
    color: #727272;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.second-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9px; 
    margin-left: 13px;
    margin-bottom: 13px;
    font-family:'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.flex-flo-7 {
    background-color: #FBFBFB;
}

.third-green {
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 31px;
    margin-bottom: 4px;
    color:#46A358;
    font-family: 'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px
}

.third-black {
    margin-left: 15px;
    margin-right: 79px;
    margin-bottom: 4px;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.third-grey {
    margin-left: 15px;
    margin-right: 11px;
    color: #727272;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.third-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9px; 
    margin-left: 15px;
    margin-bottom: 13px;
    font-family:'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
}


.flex-flo-8 {
    background-color: #FBFBFB;
}

.fourth-green {
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 32px;
    margin-bottom: 4px;
    color:#46A358;
    font-family: 'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px
}

.fourth-black {
    margin-left: 14px;
    margin-right: 85px;
    margin-bottom: 4px;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.fourth-grey {
    margin-left: 14px;
    margin-right: 12px;
    color: #727272;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.fourth-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9px; 
    margin-left: 14px;
    margin-bottom: 13px;
    font-family:'Cera Pro Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
}